html, body{
	
	font-family: sans-serif
	}
html, body{
	margin: 0;
}


header{
	background-color: #4896f0
	}
header{
	padding: 10px;
	text-align: center;
}

h1{
	font-size: 43px;
	color: white}

header img{
	border-radius: 100px;
	border: 15px solid #f04848
}

	.content{
		max-width: 400px;
		margin: auto;
		background-color: #f04848;
		border: 10px solid #e83333;
		padding: 0px 20px
	}

	img.profile{
		max-width: 100%
	}